
/* Contenitore specifico per il componente Chat:
   qui imposti il background solo per Chat, non per l'intera app */
.ChatContainer {
  background-color: transparent; /* cambia il colore qui */
  padding: 12px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("../Assets/DirectBackground.png");
  background-size: cover;
  background-position: center;

  /* opzionali: max-height/overflow se vuoi una lista scrollabile */
}

.Titolo{
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: 5px;
  color: var(--text);
}

.Nome{
  font-size: 22px;
  color: var(--text);
}

.Ultimo-messaggio{
  font-size: 16px;
  color: var(--soft);
}

.Blocco-Chat{
  padding: 10px;
}

.list-group{
  max-height: calc(100vh - 160px); /* altezza massima con padding */
  overflow-y: auto; /* abilita lo scroll verticale */
  padding-right: 8px; /* spazio per la scrollbar */
}
.list-group-item {
  background: transparent;
  border: none;
  padding: 12px 16px;
  transition: background 0.5s;
}

.list-group-item:hover {
  background: rgba(56, 189, 248, 0.15);
}

.list-group::-webkit-scrollbar {
  width: 8px;               /* larghezza della scrollbar */
  background: transparent;  /* sfondo traccia trasparente */
}
.list-group::-webkit-scrollbar-track {
  background: transparent;  /* traccia trasparente */
}
.list-group::-webkit-scrollbar-thumb {
  background: transparent;  /* "pollice" trasparente -> invisibile */
  border-radius: 6px;
}