.profile-page {
    width: 700px;
    margin: 0 auto;
    padding: 20px;
}
.user-header {
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: auto auto auto;
    column-gap: 150px;
    row-gap: 20px;
    align-items: center;
}
.user-pic {
    grid-row: 1/4;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
}
.user-data h1 {
    font-size: 30px;
    font-weight: 550;
    margin: 0;
}
.user-data p {
  margin: 6px 0 0;
  font-size: 14px;
}
.user-stats {
    display: flex;
    gap: 22px;
}
.user-stats span {
    font-size: 16px;
}
.user-actions button {
    background: rgb(32, 32, 240);
    color: aliceblue;
    padding: 6px, 24px;
    border: none;
    border-radius: 7px;
    font-weight: 500;
    cursor: pointer;
}
.post-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4px;
  margin-top: 20px;
}
.grid-item {
  aspect-ratio: 1 / 1;
  overflow: hidden;
  cursor: pointer;
}
.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}