.profile{
    width:100%;
    padding:10px 55px 10px 10px; /* via dalla wave */
    box-sizing:border-box;
    color:var(--text);
}
.user-header{
    display:flex;
    flex-direction:column;
    width:100%;
    gap:10px;
}
.profile-user{
    display:flex;
    align-items:center;
    gap:3%;
}
.profile-userimg{
    width:25%;
    max-width:110px;
    aspect-ratio:1/1;
    border-radius:50%;
    object-fit:cover;
    float:left;
}
.profile-userdata{
    flex:1;
}
.profile-username{
    margin:0;
    font-size:1.4vw;
    font-weight:bold;
}
.bio{
    margin:5px 0 0;
    font-size:0.9vw;
    color:var(--soft);
}
.followers{
    display:flex;
    gap:15px;
    font-size:0.85vw;
}
.profile-actions button{
    width:40%;
    border:none;
    border-radius:7px;
    padding:6px 0;
    background:rgb(32, 32, 240);
    color:var(--deep);
    font-weight:500;
    cursor:pointer;
}