.ActionBar{
    height:10vh;
    width:100%;
    bottom:0;
    left:0;
    overflow: visible;
    position:fixed;
    background-color: var(--accent);
    text-align: center;
}
.ActionBar svg{
    width:5vw;
    margin-top:-3vh;
    height:10vh;
    text-align: center;
    fill:var(--cyan);
    stroke: var(--foam);
    transition:0.2s transform ease, fill 0.2s ease;
}
.ActionBar svg:hover{
    fill:var(--deep);
    cursor:pointer;
    transform:scale(1.2);
}
.ChatButton{
    position: absolute;
    left: 2%;
}

.CreatePost{
  margin: 0;
}

.BackButton{
    position: absolute;
    top: 0;
    right: 2%;
}