.Post{
    margin: 70px auto;
    width:35vw;
    height: 55vh;
    display:flex;
    flex-direction: column;
    border-radius:2vw;
    overflow:hidden;
    color: var(--deep);
}
.user{
    flex: 0 0 10%;
    max-height:15%;
    padding:0 2%;
    display:flex;
    align-items: center;
    overflow:hidden;
    background-color:var(--cyan);
}
.userimg{
    height:5vh;
    aspect-ratio: 1/1;
    border-radius:50%;
    float:left;
}
.username{
    display:block;
    float:left;
    color: var(--deep);
    font-weight:bold;
    font-size:1.5vw;
    margin:auto 10px;
}
.posted-image{
    min-height:0;
    flex: 0 0 70%;
    max-height:70%;
    object-fit: cover;
    background-color: var(--sea);
}
.reactions{
    display:flex;
    margin:0;
    overflow:visible;
    font-weight:bold;
    flex: 0 0 10%;
    max-height:10%;
    font-size:1vw;
    color: var(--deep);
    background-color:white;
}
.reactions svg {
    width:2vw;
    height: 100%;
    color: var(--cyan);
    user-select: none;
    cursor:pointer;
}
.reactionCount{
    padding:0px;
    flex: 0 0 15%;
    margin:auto 5px;
    float:left;
}
.reactionicon{
    margin:0 3px;
}
.fire{
    transition:0.2s color;
    color:red !important;
    font-weight:bold;
}
.caption{
    flex: 0 0 5%;
    font-size:1vw;
    padding: 0 1%;
    max-height:5%;
    color: var(--deep);
    background-color: var(--foam);
}
.comments{
    flex: 0 0 2.5%;
    font-size:1vw;
    padding: 0 2%;
    max-height:5%;
    color: var(--mid);
    background-color: var(--foam);
}
.published{
    text-align:right;
    flex: 0 0 2.5%;
    font-size:0.5vw;
    padding: 0 5%;
    max-height:5%;
    color: var(--mid);
    background-color: var(--foam);
}
